@import "tailwindcss";

:root {
  --primary-1: #010218;
  --primary-2: #2f347c;
  --primary-3: #838aea;
  --base-1: #202020;
  --base-2: #595959;
  --base-3: #8e8d8d;
  --base-4: #e5e5e4;
  --base-5: #fafafa;
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme inline {
  --color-background: var(--base-5);
  --color-foreground: var(--base-1);

  --color-primary-1: var(--primary-1);
  --color-primary-2: var(--primary-2);
  --color-primary-3: var(--primary-3);
  --color-base-1: var(--base-1);
  --color-base-2: var(--base-2);
  --color-base-3: var(--base-3);
  --color-base-4: var(--base-4);
  --color-base-5: var(--base-5);
}

@layer utilities {
  .width-barrier {
    max-width: 1366px;
  }

  .custom-shadow-sm {
    box-shadow:
      2px 2px 4px rgba(0, 0, 0, 0.15),
      -2px -2px 4px rgba(0, 0, 0, 0.15);
  }
}

html,
body {
  @apply bg-base-4
}

