spring:
  config:
    activate:
      on-profile: test
  application:
    allowed-origins: http://localhost:3000

  datasource:
    url: jdbc:h2:mem:votacao-test-db;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password:

  flyway:
    enabled: false

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    open-in-view: false
    properties:
      hibernate:
        format_sql: false

  h2:
    console:
      enabled: false

logging:
  level:
    org.springframework: WARN
    org.hibernate.SQL: WARN
