spring:
  config:
    activate:
      on-profile: prod
  application:
    allowed-origins: ${SPRING_ALLOWED_ORIGINS}
  flyway:
    enabled: true
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
